@import '../../node_modules/bourbon-neat/core/neat';


/* Bourbon Neat Config */
$collapse: (
  columns: 12,
  gutter: 0px,
  direction: ltr,
);

.l-row {
  @include grid-container($collapse);
}

.l-col-1 {
  @include grid-column(1, $collapse);
}

.l-col-4 {
  @include grid-column(4, $collapse);
}

.l-col-5 {
  @include grid-column(5, $collapse);
}

.l-col-2 {
  @include grid-column(2, $collapse);
}

.l-col-3 {
  @include grid-column(3, $collapse);
}

.l-col-6 {
  @include grid-column(6, $collapse);
}

.l-col-7 {
  @include grid-column(7, $collapse);
}

.l-col-8 {
  @include grid-column(8, $collapse);
}

.l-col-9 {
  @include grid-column(9, $collapse);
}

.l-col-10 {
  @include grid-column(10, $collapse);
}

* {
	box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100%;
  font-family: 'avenir', 'helvetica';
}

/* Navigation */
.navigation {
  background-color: #282828;
  text-align: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10000;
  cursor: default;

  ul {
    margin-left: auto;
    margin-right: auto;

    li {
      display: inline-block;
      color: #FFF;
      padding: 0 10px 0 10px;
    }
  }
}
/* Profile */
.profile {
  height: 585px;
  border: 2px solid red;

  .profile-picture {
    height: 100%;
    border: 2px solid green;

    img {
      height: 285px;
      width: 285px;
      margin-top: 185px;
      margin-left: 500px;
      border-radius: 50%;
      overflow: hidden;
    }
  }

  .profile-info {
    height: 100%;
    border: 2px solid green;

    .intro {
      padding-left: 25px;
      padding-top: 210px;
      font-size: 3.25em;
      letter-spacing: -0.025em;
    }

    .description {
      padding-left: 25px;
      padding-top: 20px;
      font-size: 1.5em;
    }

    button {
      color: #FFF;
      font-size: 1.2em;
      letter-spacing: 0.0125em;
      margin-left: 25px;
      margin-top: 25px;
      height: 65px;
      width: 394px;
      text-shadow: -1px -1px 0.5px rgba(0, 0, 0, 0.5);
      border-radius: 10px;
      background-color: #43B3E0;
    }
  }
}
/* Work */
.work {
  background: url('http://i190.photobucket.com/albums/z14/Wangdadadangdang/bg.png');
  text-shadow: 1px 1px 0px #FFF;
  height: 880px;
  border: 2px solid black;
  text-align: center;


  .header {
    padding-top: 120px;

    .title {
      font-weight: bold;
      font-size: 2em;
      letter-spacing: 0.025em;
    }

    .description {
      padding-top: 15px;
      padding-bottom: 50px;
    }
  }

  .gallery {
    margin-top: 50px;
    width: 50.78%;
    margin: 0 auto;
    border: 2px solid pink;

    .gallery-item {
      background-color: #FFF;
      height: 325px;
      width: 325px;
      margin-left: 10px;
      margin-right: 10px;
      border: 2px solid blue;

      .picture {
        height: 150px;
        width: 150px;
        margin-top: 5px;
        margin: 0 auto;
        border: 2px solid black;
      }
    }
  }

  .footer {
    padding-top: 30px;

    p {
      font-size: 1.25em;
    }

    button {
      color: #FFF;
      font-size: 1.2em;
      letter-spacing: 0.0125em;
      margin-left: 25px;
      margin-top: 25px;
      height: 65px;
      width: 394px;
      text-shadow: -1px -1px 0.5px rgba(0, 0, 0, 0.5);
      border-radius: 10px;
      background-color: #43B3E0;
    }
  }
}
/* Portfolio */
.portfolio {
  background: url('http://i190.photobucket.com/albums/z14/Wangdadadangdang/bg.png');
  text-shadow: 1px 1px 0px #FFF;
  height: 1180px;;
  border: 2px solid black;
  text-align: center;

  .header {
    padding-top: 120px;

    .title {
      font-weight: bold;
      font-size: 2em;
      letter-spacing: 0.025em;
    }

    .description {
      padding-top: 15px;
      padding-bottom: 50px;
    }
  }

  .gallery {
    margin-top: 50px;
    width: 50.78%;
    margin: 0 auto;
    border: 2px solid pink;

    .gallery-item {
      background-color: #FFF;
      margin-top: 15px;
      height: 325px;
      width: 325px;
      margin-left: 10px;
      margin-right: 10px;
      border: 2px solid blue;

      .picture {
        height: 200px;
        width: 100%;
        margin-top: 5px;
        margin: 0 auto;
        border: 2px solid black;
      }
    }
  }

  .footer {
    clear: both;
    padding-top: 30px;

    p {
      font-size: 1.25em;
    }

    button {
      color: #FFF;
      font-size: 1.2em;
      letter-spacing: 0.0125em;
      margin-left: 25px;
      margin-top: 25px;
      height: 65px;
      width: 394px;
      text-shadow: -1px -1px 0.5px rgba(0, 0, 0, 0.5);
      border-radius: 10px;
      background-color: #43B3E0;
    }
  }
}
