@import '../../node_modules/bourbon-neat/core/neat';
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
/* Bourbon Neat Config */
$collapse: (
  columns: 12,
  gutter: 0px,
  direction: ltr,
);

.l-row {
  @include grid-container($collapse);
}

.l-col-1 {
  @include grid-column(1, $collapse);
}

.l-col-4 {
  @include grid-column(4, $collapse);
}

.l-col-5 {
  @include grid-column(5, $collapse);
}

.l-col-2 {
  @include grid-column(2, $collapse);
}

.l-col-3 {
  @include grid-column(3, $collapse);
}

.l-col-6 {
  @include grid-column(6, $collapse);
}

.l-col-7 {
  @include grid-column(7, $collapse);
}

.l-col-8 {
  @include grid-column(8, $collapse);
}

.l-col-9 {
  @include grid-column(9, $collapse);
}

.l-col-10 {
  @include grid-column(10, $collapse);
}

* {
	box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100%;
  font-family: 'avenir', 'helvetica';

  button {
    background-image: url('http://i190.photobucket.com/albums/z14/Wangdadadangdang/bg.png'), -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: url('http://i190.photobucket.com/albums/z14/Wangdadadangdang/bg.png'), -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: url('http://i190.photobucket.com/albums/z14/Wangdadadangdang/bg.png'), -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: url('http://i190.photobucket.com/albums/z14/Wangdadadangdang/bg.png'), linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    -moz-transition: background-color .2s ease-in-out;
    -webkit-transition: background-color .2s ease-in-out;
    -ms-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out;
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    color: #fff !important;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.1em;
    border: 0;
    outline: 0;
    cursor: pointer;
    border-radius: 8px;
    text-shadow: -1px -1px 0.5px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.5), inset 0px 2px 1px 0px rgba(255, 255, 255, 0.75);
    background-color: #43B3E0;
    height: 65px;
    width: 300px;
  }
}

/* Navigation */
.navigation {
  background-color: #282828;
  text-align: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10000;
  cursor: default;

  ul {
    margin-left: auto;
    margin-right: auto;

    li {
      display: inline-block;
      color: #FFF;
      padding: 0 10px 0 10px;
    }

  }
}
/* Profile */
.profile {
  height: 585px;
  border: 2px solid red;

  .profile-picture {
    height: 100%;
    border: 2px solid green;

    img {
      height: 285px;
      width: 285px;
      margin-top: 185px;
      margin-left: 500px;
      border-radius: 50%;
      overflow: hidden;
    }
  }

  .profile-info {
    height: 100%;
    border: 2px solid green;

    .intro {
      padding-left: 25px;
      padding-top: 210px;
      font-size: 3.25em;
      letter-spacing: -0.025em;
    }

    .description {
      padding-left: 25px;
      padding-top: 20px;
      font-size: 1.5em;
    }

    button {
      margin-top: 60px;
      margin-left: 25px;
    }
  }
}
/* Work */
.work {
  background: url('http://i190.photobucket.com/albums/z14/Wangdadadangdang/bg.png');
  text-shadow: 1px 1px 0px #FFF;
  height: 880px;
  border: 2px solid black;
  text-align: center;


  .header {
    padding-top: 120px;

    .title {
      font-weight: bold;
      font-size: 2em;
      letter-spacing: 0.025em;
    }

    .description {
      padding-top: 15px;
      padding-bottom: 50px;
    }
  }

  .gallery {
    margin-top: 50px;
    width: 50.78%;
    margin: 0 auto;
    border: 2px solid pink;

    .gallery-item {
      background-color: #FFF;
      height: 325px;
      width: 325px;
      margin-left: 10px;
      margin-right: 10px;
      border: 2px solid blue;

      .picture {
        height: 150px;
        width: 150px;
        margin-top: 5px;
        margin: 0 auto;
        border: 2px solid black;
      }
    }
  }

  .footer {
    padding-top: 30px;

    p {
      font-size: 1.25em;
    }

    button {
      margin-top: 15px;
    }
  }
}
/* Portfolio */
.portfolio {
  background: url('http://i190.photobucket.com/albums/z14/Wangdadadangdang/bg.png');
  text-shadow: 1px 1px 0px #FFF;
  height: 1180px;;
  border: 2px solid black;
  text-align: center;

  .header {
    padding-top: 120px;

    .title {
      font-weight: bold;
      font-size: 2em;
      letter-spacing: 0.025em;
    }

    .description {
      padding-top: 15px;
      padding-bottom: 50px;
    }
  }

  .gallery {
    margin-top: 50px;
    width: 50.78%;
    margin: 0 auto;
    border: 2px solid pink;

    .gallery-item {
      background-color: #FFF;
      margin-top: 15px;
      height: 325px;
      width: 325px;
      margin-left: 10px;
      margin-right: 10px;
      border: 2px solid blue;

      .picture {
        height: 200px;
        width: 100%;
        margin-top: 5px;
        margin: 0 auto;
        border: 2px solid black;
      }
    }
  }

  .footer {
    clear: both;
    padding-top: 30px;

    p {
      font-size: 1.25em;
    }

    button {
      margin-top: 10px;
    }
  }
}
/* Contact */
.contact {
  background-color: #303030;
  background-image: url('http://i190.photobucket.com/albums/z14/Wangdadadangdang/bg.png');
  color: #999;
  text-shadow: -1px -1px 0px #181818;
  height: 1000px;
  text-align: center;

  .header {
    padding-top: 80px;
    h2 {
      color: #FFF;
    }
  }
  .form {
    width: 35%;
    height: 600px;;
    margin: 0 auto;
    border: 2px solid red;

    input, textarea {
      background-color: #282828;
      border: none;
    }

    input[type='text'] {
      -moz-transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
      -webkit-transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
      -ms-transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
      transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
      -webkit-appearance: none;
      display: block;
      border: 0;
      margin: 15px auto;
      padding: 0.75em;
      font-size: 1em;
      border-radius: 8px;
      border: none;
      background: #282828;
      color: #bbb;
      box-shadow: inset 0px 2px 3px 1px rgba(0, 0, 0, 0.05), 0px 1px 0px 0px rgba(255, 255, 255, 0.025);
      width: 100%;
    }

    #email {
      width: 97%;
      margin-left: 11px;
    }

    input {
      -webkit-appearance: textfield;
      background-color: white;
      -webkit-rtl-ordering: logical;
      user-select: text;
      cursor: auto;
      padding: 1px;
      border-width: 2px;
      border-style: inset;
      border-color: initial;
      border-image: initial;
    }
    input, textarea, select, button {
      text-rendering: auto;
      color: initial;
      letter-spacing: normal;
      word-spacing: normal;
      text-transform: none;
      text-indent: 0px;
      text-shadow: none;
      display: inline-block;
      text-align: start;
      margin: 0em 0em 0em 0em;
      font: 11px system-ui;

      &:focus {
				background: #252525;
			}
    }

    textarea {
      -moz-transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
      -webkit-transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
      -ms-transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
      transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
      -webkit-appearance: none;
      display: block;
      border: 0;
      padding: 0.75em;
      font-size: 1em;
      margin-top: 15px;
      border-radius: 8px;
      border: none;
      background: #282828;;
      color: #bbb;
      box-shadow: inset 0px 2px 3px 1px rgba(0, 0, 0, 0.05), 0px 1px 0px 0px rgba(255, 255, 255, 0.025);
      width: 100%;
      height: 250px;
    }

    .actions {

      li {
        display: inline-block;

        input[type='submit'], input[type='reset'], button, .button {
          background-image: url('http://i190.photobucket.com/albums/z14/Wangdadadangdang/bg.png'), -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
          background-image: url('http://i190.photobucket.com/albums/z14/Wangdadadangdang/bg.png'), -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
          background-image: url('http://i190.photobucket.com/albums/z14/Wangdadadangdang/bg.png'), -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
          background-image: url('http://i190.photobucket.com/albums/z14/Wangdadadangdang/bg.png'), linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
          -moz-transition: background-color .2s ease-in-out;
          -webkit-transition: background-color .2s ease-in-out;
          -ms-transition: background-color .2s ease-in-out;
          transition: background-color .2s ease-in-out;
          -webkit-appearance: none;
          position: relative;
          display: inline-block;
          color: #fff !important;
          text-decoration: none;
          margin: 25px 10px;
          font-weight: 700;
          font-size: 0.85em;
          border: 0;
          outline: 0;
          cursor: pointer;
          border-radius: 8px;
          text-align: center;
          text-shadow: -1px -1px 0.5px rgba(0, 0, 0, 0.5);
          overflow: hidden;
          box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.5), inset 0px 2px 1px 0px rgba(255, 255, 255, 0.75);
          background-color: #43B3E0;
          height: 55px;
        }

        input[type='submit'] {
          width: 150px;
        }

        input[type='reset'] {
          background-color: #444;
          width: 125px;
        }
      }
    }
  }
  .links {
    .social {
			cursor: default;
			margin: 0;

			li {
				position: relative;
				display: inline-block;
				margin: 0.25em;
				top: 0;

				a {
          -moz-transition: background-color .2s ease-in-out;
          -webkit-transition: background-color .2s ease-in-out;
          -ms-transition: background-color .2s ease-in-out;
          transition: background-color .2s ease-in-out;
					display: block;
					width: 48px;
					height: 48px;
					border-radius: 6px;
					top: 0;
					position: relative;

					&:before {
            background-image: url('http://i190.photobucket.com/albums/z14/Wangdadadangdang/bg.png'), -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
            background-image: url('http://i190.photobucket.com/albums/z14/Wangdadadangdang/bg.png'), -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
            background-image: url('http://i190.photobucket.com/albums/z14/Wangdadadangdang/bg.png'), -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
            background-image: url('http://i190.photobucket.com/albums/z14/Wangdadadangdang/bg.png'), linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
            -moz-transition: background-color .2s ease-in-out;
            -webkit-transition: background-color .2s ease-in-out;
            -ms-transition: background-color .2s ease-in-out;
            transition: background-color .2s ease-in-out;
						background-color: #444;
						border-radius: 6px;
						box-shadow: inset 0px 0px 0px 1px #282828, inset 0px 2px 1px 0px rgba(255, 255, 255, 0.1);
						color: #2E2E2E !important;
						display: block;
						font-size: 26px;
						height: 48px;
						line-height: 48px;
						text-align: center;
						outline: 0;
						overflow: hidden;
						text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.1);
						width: 48px;

					}

					&.fa-twitter {
						background-color: #2DAAE4;
					}

					&.fa-facebook {
						background-color: #3C5A98;
					}

					&.fa-dribbble {
						background-color: #C4376B;
					}

					&.fa-linkedin {
						background-color: #006599;
					}

					&.fa-tumblr {
						background-color: #51718A;
					}

					&.fa-google-plus {
						background-color: #DA2713;
					}

					&.fa-github {
						background-color: #FAFAFA;
					}

					&:hover {
						top: -5px;

						&:before {
							background-color: transparent;
						}
					}
				}
			}
		}

		&.actions {
			li {
				display: inline-block;
				margin: 0 0 0 1em;

				&:first-child {
					margin-left: 0;
				}
			}
		}
    .icon {
      text-decoration: none;

      &:before {
        display: inline-block;
        font-family: FontAwesome;
        font-size: 1.25em;
        text-decoration: none;
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }

      > .label {
        display: none;
      }

      &.featured {
        color: #EA8A95;
        display: block;
        margin: 0 0 1.5em 0;
        cursor: default;

        &:before {
          font-size: 6em;
        }
      }
    }
  }

}
