.navigation {
  background-color: #282828;
  text-align: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10000;
  cursor: default;

  ul {
    margin-left: auto;
    margin-right: auto;

    li {
      display: inline-block;
      color: #FFF;
      padding: 0 10px 0 10px;
    }
  }
}

.profile {

}

.work {

}

.resume {

}

.contact {

}
